.bind {
  height: 100%;
  background: #fff;
  padding-top: 30px;
  .phone {
    height: 70px;
    line-height: 70px;
    margin: 0 22px;
    display: flex;
    border-bottom: 1px solid #c6c6c6;
    input {
      border: none;
      flex: 1;
      padding-left: 30px;
    }
  }
  .code {
    height: 70px;
    display: flex;
    margin: 20px 22px 0;
    input {
      flex: 1;
      border: none;
      border-bottom: 1px solid #c6c6c6;
    }
    button {
      width: 150px;
      height: 45px;
      background: #a9a9a9;
      border-radius: 5px;
      font-size: 26px; /*px*/
      color: #fff;
      position: relative;
      top: 5px;
    }
  }
  .bind-btn {
    display: block;
    margin: 0 auto;
    margin-top: 90px;
    width: 90%;
    height: 90px;
    line-height: 90px;
    background: #ffc000;
    border-radius: 10px;
    color: #fff;
  }
}
